{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "import",
    "prettier"
  ],
  "settings": {
    "import/no-unresolved": "error",
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "tsconfig.json"
      },
      "webpack": {
        "config": "./webpack.config.ts"
      },
      "node": {
        "paths": ["src"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/indent": [
      "error",
      2
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "eol-last": "error",
    "quotes": [
      "error",
      "single"
    ],
    "object-curly-spacing": [2, "always"],
    "prefer-const": "error",
    "prefer-destructuring": [
      "error",
      {
        "array": false,
        "object": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [2, { "max": 1, "maxEOF": 0, "maxBOF": 0 }],
    "no-trailing-spaces": ["error", { "ignoreComments": true }],
    "no-return-await": "error",
    "react/prop-types": "off",
    "react/display-name": "off"
  }
}
